.ui-mobile .page_sommaire .ui-page {background:#E5E5E5 url("images/bg-home.png") repeat-x center top;}
.ui-mobile .page_sommaire #homeheader {text-align:center;}
.ui-icon-mobispip {background-image:url(images/bluewhales-16.png);}